
.whatsapp-icon>img{
    padding: 20px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 50px;
	right: 1px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	
}

/*MEDIAQUERIES*/

@media screen and (max-width:559px) {

    .whatsapp-icon>img{
        padding: 10px 20px; /* Relleno del boton */
        position: fixed;
        bottom: 50px;
        right: 1px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        min-width: 5%;
	
    }

    }

