
.section-image img{
    width: 100%;
   height: 540px;
   background-size: cover;
    margin: 0;
    box-shadow: 1px 5px 5px  rgb(119, 119, 119);
    
}


.textos-section h1 {
    display: flex;
    height:400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
   
  

}

.textos-section h2 {
  
   display: flex;
    width: 100%;
    height: 490px;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #4E8E07;
    text-shadow: 3px 5px 19px black;
    
}


/*MEDIAQUERIES*/
@media screen and (max-width:730px){
    .textos-section h2 {
  
        display: flex;
         width: 100%;
         height: 650px;
}
}

@media screen and (max-width:400px) {
.textos-section h1{
   font-size: 30px;

}
.textos-section h2 {
  
    font-size: 25px;
}
}